<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <span id='counter'>
    <%= counter %>
  </span>
  <button id="btn">+1</button>
  <button id="btnstorage">add to localStorage</button>
  <script src="./renderer.js"></script>
</body>

</html>